# Ignoring Jupyter Notebook checkpoints files:
.ipynb_checkpoints

# Ignoring logs files
lightning_logs/*
tb_logs/*

# Ignoring paths files
paths.txt

# Ignoring dataset
dataset/crops/*
dataset/masks/*
dataset/masks_pyradiomics/*
dataset/radiomics_features/*
dataset/crops_pyradiomics/*

# Ignoring weights
weights/*

# Ignoring scores
scores/*

# Ignoring pycache
__pycache__
